// ==============
// Variables
// ==============

$main-background-color: #1e2022;

$headers-color: #cecac3;
$headers-hover-cover: #8ea8c1;
$underline-background-color: #856430;

$description-color: #999183;
$price-color: #c9a36a;
$image-border-color: #7b5c2d;

$button-color: #cba665;
$buttons-hover-background-color: #87672e;
$buttons-hover-color: #e7e6e2;

$main-font-family: "Lora", serif;
$menu-font-family: "Quicksand", sans-serif;

@mixin flexCenter($flow: column nowrap) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: $flow;
}
